{{>header}}

<main>
  <h1>Welcome to Project Enkrateia</h1>
  <p class="fs-5 col-md-8">More information coming soon.
  </p>

  <div class="mb-5">
    <a href="/about" class="btn btn-primary btn px-4">Learn more</a>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row g-5">
    <div class="col-md-6">
      <h2>Starter projects</h2>
      <p>Check out these open source projects that I'm currently working on</p>
      <ul class="icon-list">
        <li>Note Taking App</li>
        <li class="text-muted">Weather App (More information coming soon)</li>
      </ul>
    </div>

    <div class="col-md-6">
      <h2>Help Guides</h2>
      <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
      <ul class="icon-list">
        <li><a href="/help/weather-guide">Help Guide for Weather App</a></li>
        <li><a href="/help/note-taking-guide">Help Guide for Note Taking App</a></li>
      </ul>
    </div>
  </div>
</main>

{{>footer}}