{{>header}}
<main>
    <div class="row align-items-center">
        <div class="col">
        </div>
        <div class="col-5">
            <h3 class="text-muted lead"> Use this site to get your
                weather!</h3>
            <form class="weatherform">
                <div class="input-group mb-3">
                    <input type="text" name="address" class="form-control" placeholder="Location" aria-label="location"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </form>
            <p class="lead text-uppercase text-sm-center weatherinfoTwo"></p>
            <p class="weatherinfoOne lead  text-sm-center text-capitalize"></p>
        </div>
        <div class="col">
        </div>
    </div>

</main>
{{>footer}}